<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigin</title>
</head>
<body>
    <div> 
        <div className='container'>
            <div className='head'><center>Sing In</center></div>
            <div className='subhead'><center>Please enter your details to sign in</center></div>
            <div className='form'>
                <form onSubmit="">
                    <label style="fontSize 15px;fontFamily:cursive;fontWeight:bold">Name</label><br></br>
                    <input type = "text" id = "name" style="width:220px;height:25px;borderRadius:5px;boxShadow:1px;marginTop:5px"></input><br></br>
                     <label style="fontSize:15px;fontFamily:cursive;fontWeight:bold">Email Address</label><br></br>
                    <input type = "text" id = "email" style="width:220px;height:25px;borderRadius:5p;boxShadow:1px;marginTop:5px"></input><br></br>
                     <label style="fontSize:15px;fontFamily:cursive;fontWeight:bold">Password</label><br></br>
                    <input type = "text" id = "password" style="width:220px;height:25px;borderRadius:5px;boxShadow:1px;marginTop:5px"></input><br></br>
                    <input type = "submit" value = "Sign in" style="marginTop:30px;marginLeft:90px;height:25px"></input>
                </form>
            </div>
        </div>



    </div>

        
</body>


</html>