.container{
    border:2px solid black;
    height: 550px;
    width: 370px;
    margin-left: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px;
    margin-top: 70px;
}
.head{
    height: 50px;
    width: 300px;
    margin-left: -35px;
    margin-top: 40px;
    font-size: 28px;
   font-weight: bold;
}
.subhead{
    height: 20px;
    width: 300px;
    margin-left: 2px;
    margin-top: -12px;
     font-size: 17px;
}
.form{
    height: 250px;
    width: 300px;
    margin-left: 55px;
    margin-top: 20px;
}
.custominput{
    width: 220px;
    height: 25px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: -30px;
    margin-left: -25px;
    outline: none;
}
.back{
  display: none;
}
.custominput::placeholder{
}
.btn{
    height: 55px;
    width: 330px;
    margin-top: 100px;
    margin-left: -30px;
    border-radius: 28px;
    background-color: rgb(140, 215, 223);
    color: white;
}
.siginbtn{
  visibility: hidden;
}
.almost{
  width: 200px;
  height: 30px;
  margin-left: 30px;
  margin-top: -30px;
  visibility: hidden;
}
.simplysigin{
  width: 280px;
  height: 20px;
  margin-left: 30px;
  visibility: hidden;
}
.pform{
  width: 400px;
  height: 60px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 480;
  visibility: hidden;
}
.bysigin{
  visibility: hidden;
}
@media(max-width:578px){
  .container{
    border:2px solid black;
    height: 550px;
    width: 370px;
    margin-left: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px;
    display: none;
}
.head{
    height: 50px;
    width: 300px;
    margin-left: -35px;
    margin-top: 40px;
    font-size: 28px;
   font-weight: bold;
   display: none;
}
.subhead{
    height: 20px;
    width: 300px;
    margin-left: 2px;
    margin-top: -12px;
     font-size: 17px;
     display: none;
}
.form{
    height: 250px;
    width: 300px;
    margin-left: 55px;
    margin-top: 20px;
    display: none;
}
.custominput{
    width: 220px;
    height: 25px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: -30px;
    margin-left: -25px;
    outline: none;
    display: none;
}
.custominput::placeholder{
}
.btn{
    height: 55px;
    width: 330px;
    margin-top: 100px;
    margin-left: -30px;
    border-radius: 28px;
    background-color: rgb(140, 215, 223);
    color: white;
    display: none;
}
.phonesigin{
  height: 700px;
  width: 578px;
  margin-left: -20px;
  margin-top: -40px;
}
.close{
  height: 15px;
  width: 15px;
  margin: 30px;
  margin-top: 20px;
  background-image: url('close_2025-10-29_220346-removebg-preview.png');
  background-size: cover;
  margin-left: 34px;

}
.almost{
  width: 200px;
  height: 30px;
  margin-left: 30px;
  margin-top: -24px;
  visibility: visible;
  font-size: 25px;
  font-weight: bolder;
}
.simplysigin{
  margin-top: 4px;
  width: 280px;
  height: 20px;
  margin-left: 30px;
  visibility: visible;
  font-size: 17px;
  font-weight: 400;
}
.pform{
  margin-top: 15px;
  width: 400px;
  height: 60px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 480;
  visibility: visible;
}
.inputphone{
  margin-top: -5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.siginbtn{
  width: 400px;
  height: 50px;
  margin-left: 24px;
  margin-top: 150px;
  visibility: visible;
}
.bysigin{
  margin-top: 15px;
  width: 400px;
  height: 40px;
  margin-left: 40px;
  visibility: visible;
  font-size: 13px;
}
.psiginbtn{
  width: 400px;
  height: 50px;
  background-color: rgb(146, 225, 234);
  border-radius: 28px;
  color: white;
  font-weight: bold;
} 
}